h1{
    font-size:2vw;
}
#stat_display{
    text-align: center;
    position:relative;
    top:75vh;
}
#stat_box{
    box-sizing: border-box;
    border:5px solid black;
}
#stat_box > div{
    height:20vh;
}
.player2_turn_img{
    width:5vw;
    height:auto;
    transform:rotate(90deg);
}
.player1_turn, .player2_turn{
    position:relative;
    bottom:7vh;
}
.player1_turn_img{
    width:5vw;
    height:auto;
    transform:rotate(270deg) scaleX(-1);
}
body{
    background-color: black;
}
.square3 {
    border: 3px solid black;
    background-color: #FFE800;
    width: 20vw;
    height: 25vh;
}
.square5 {
    border: 3px solid black;
    background-color: #FFE800;
    width: 10vw;
    height: 15vh;
}
.game_board3{
    position:absolute;
    left:20vw;
}
.game_board5{
    display:none;
    position:absolute;
    left:25vw;
}
.x{
    background-image: url("images/bunny.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.o{
    background-image: url("images/Pokeball.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.modal-footer{
    border-top: none;
}
